.somefutures, .price{
    background-color: #171f23;
    text-align: center;
    color: #f6f6f6;
    padding: 60px 0;
    display: block;
}
h4{
    text-transform: uppercase;
    font-size: 36px;
}
.head_black_content{
    padding-bottom: 20px;
    text-align: center;
}
.head_black_content span{
    display: inline-block;
    width: 80px;
    height: 1px;
    margin: 25px auto 0;
    background: #404040;
}
.numeral>div>span{
    font-size: 60px;
    color: #ff7062;
}
.numeral>div>p{
    font-size: 18px;
    color:#707070;
    margin: 6% 0 6% 0;
}
.numeral>div>h5{
    font-size: 26px;
}
/* БЛОК ЦЕНЫ */
/* Голова для блока цены */
.price-content-head{
    background: #0e1316;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px 0 30px;
}
.price-content-head h4{
    padding-top: 6px;
    font-size: 24px;
}
.price-content-head h4{
    margin-top: 25px;
    padding: 0 25px;
    font-size: 14px;
}

/* Тело для блока цены */
.price-content-body{
    background: #1f282c;
    padding: 45px 0 40px;
    letter-spacing: 1px;
    font-weight: 300;
}
.price-content-body p{
    font-size: 15px;
    padding-bottom: 20px;
color: #ffffff;
}
/* Стиль для цифр */
.price-content-body p span{
    font-size: 14px;
    font-weight: 700;
    margin-right: 2px;
}
/* Стиль для кновки Заказать */
.price-content-body a{
    background: #f4511e;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 30px;
} 